img.card-img-top {
  width: 100%;
}

img.logo {
  margin-left: 41px;
  float: left;
  height: 44px;
}

section.content {
  margin-top: 0;
}

.sidebar .menu {
  overflow-y: hidden;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { 
  width: 100%;
}
/* 
.carousel-inner {
  position: relative;
  width: calc(100% + 30px);
  overflow: hidden;
  margin-left: -15px;
  margin-top: -4px;
} */

section.content.sin-borde {
  margin: 0;
  margin-top:-6px;
}

.theme-indigo .navbar-brand {
  color: #25aa37;
  font-weight: bold;
  margin-left: 0px !important;
}

.theme-indigo .sidebar .menu .list li {
  border-bottom: 1px solid #3f51b50d;
}

.theme-indigo .sidebar .menu .list li.active {
  background-color: #f8f8f8;
}

@media (max-width: 767px){
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    width: 40%;
}}

button[aria-expanded="false"] i.material-icons {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 300ms ease-in 0s;
  -moz-transition: all 300ms ease-in 0s;
  -o-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
  /* color: #c5c5c5; */
}


button[aria-expanded="true"] i.material-icons {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 300ms ease-in 0s;
  -moz-transition: all 300ms ease-in 0s;
  -o-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
  /* color: #c5c5c5; */
}
button#sin-sombra {
  box-shadow: none !important;
}