img.card-img-top {
  width: 100%;
}

img.logo {
  margin-left: 28px;
  float: left;
  height: 52px;
}

section.content {
  margin-top: 0;
}

.sidebar .menu {
  overflow-y: hidden;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { 
  width: 100%;
}
/* 
.carousel-inner {
  position: relative;
  width: calc(100% + 30px);
  overflow: hidden;
  margin-left: -15px;
  margin-top: -4px;
} */

section.content.sin-borde {
  margin: 0;
}